/* 
should these be in our GlobalStyle in root rather, instead of splitting styles between css and js? either way, keep it consistent, otherwise its a shit show 

Note: This might end up being a shame file

@todo: consolidate at some point
*/

@font-face {
	font-family: 'HKGroteskPro';
	font-weight: 400;
	src: url(./assets/fonts/HKGroteskPro/HKGroteskPro-Regular.woff2)
			format('woff2'),
		url(./assets/fonts/HKGroteskPro/HKGroteskPro-Regular.woff) format('woff');
}
@font-face {
	font-family: 'HKGroteskPro';
	font-weight: 600;
	src: url(./assets/fonts/HKGroteskPro/HKGroteskPro-Medium.woff2)
			format('woff2'),
		url(./assets/fonts/HKGroteskPro/HKGroteskPro-Medium.woff) format('woff');
}

#root {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

// the middle content between header/footer
.root-inner {
	flex-grow: 1;
	display: flex;
	flex-flow: column;
	align-items: center;
	> * {
		width: 100%;
	}
}

// should this be moved to theme.js or within Text?
p {
	margin: 2.4rem 0;
	// line-height: 2.4rem;
}
ul,
ol {
	margin-left: 2rem;
}
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 2rem;
	max-width: var(--theme-breakpoints-xlarge);
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.col {
		flex-basis: 100%;
		@media screen and (min-width: 780px) {
			flex: 1;
			&--25 {
				flex: 2.5;
			}
			&--55 {
				flex: 5.5;
			}
			&--20 {
				flex: 2;
			}
		}
	}
}

// i.e. header
.navbar {
	font-weight: 600;
	line-height: 10rem;
	background-color: #fff;
	// background-color: rgb(255, 247, 89);
	border-bottom: 0.1rem solid #eee;
	.container {
		display: flex;
		justify-content: space-between;
	}
	ul {
		display: flex;
		list-style: none;
		li {
			& + li {
				margin-left: 2rem;
			}
		}
	}
}

.hero {
	padding: 20rem 0;
	text-align: center;
	background-color: whitesmoke;
	.user-actions {
		margin-top: 5rem;
	}
}

.lead {
	font-size: 1.8rem;
	margin-bottom: 1.6rem;
}

.landing {
	.hero {
		text-align: left;
		background: rgb(255, 247, 89);
	}
}

.form-wrapper {
	width: 100%;
	margin: 10rem auto;
	padding: 4rem 5rem;
	max-width: 40rem;
	background: #fff;
	border-radius: 0.75rem;
	// border: 0.1rem solid var(--theme-colors-baseLight);
	box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
	box-shadow: 0rem 2.5rem 5rem -1.2rem rgba(0, 0, 0, 0.25);
	// box-shadow: 0rem 2.5rem 5rem -1.2rem var(--theme-colors-baseMedium);
	h3 {
		text-align: center;
	}
	.lead {
		margin-top: 0;
		text-align: center;
	}
	.form-footer {
		margin: 2rem 0 0;
		text-align: center;
	}
}

.form {
	
}

.form-text {
	font-size: 1.1rem;
}

.form-group {
	margin-bottom: 2rem;
	input,
	textarea {
		width: 100%;
		resize: none;
		padding: 0 1.25rem;
		border: 0.1rem solid var(--theme-colors-baseLight);
		border-radius: 0.25rem;
		transition: border-color 0.35s ease;
		&:focus {
			outline: 0;
			border-color: var(--theme-colors-baseMedium);
		}
	}
	input {
		line-height: 3.8rem;
	}
	textarea {
		line-height: 1.5;
		padding: 0.75rem 1rem;
	}
	+ button {
		width: 100%;
		margin: auto;
		display: block;
	}
}

.user-actions {
	* + * {
		margin-left: 2rem;
	}
}
