/* should these be in our GlobalStyle in root rather, instead of splitting styles between css and js? either way, keep it consistent, otherwise its a shit show */
/**,
*:before,
*:after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
}
body {
	line-height: 1.5;
	font-size: 1.6rem;
}*/
/* /reset */
