/* spinner 
@todo - abstract, as this is mish-mashed currently, with svg, .icon, etc.
*/
svg {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}
.icon {
	margin: 0;
	border: none;
	border-radius: 0;
	overflow: visible;
	font: inherit;
	color: inherit;
	text-transform: none;
	padding: 0;
	background-color: transparent;
	display: inline-block;
	fill: currentcolor;
	line-height: 0;
}
.icon > * {
	transform: translate(0, 0);
}
.spinner > * {
	animation: spinner-rotate 1.4s linear infinite;
}
.spinner > * > * {
	stroke-dasharray: 88px;
	stroke-dashoffset: 0;
	transform-origin: center;
	animation: spinner-dash 1.4s ease-in-out infinite;
	stroke-width: 1;
	stroke-linecap: round;
}
.icon:not(.preserve) [stroke*='#']:not(.preserve) {
	stroke: currentcolor;
}
@keyframes spinner-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
@keyframes spinner-dash {
	0% {
		stroke-dashoffset: 88px;
	}

	50% {
		stroke-dashoffset: 22px;
		transform: rotate(135deg);
	}

	100% {
		stroke-dashoffset: 88px;
		transform: rotate(450deg);
	}
}
/* /spinner */
